<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<%- include("components/heading", {title: title}) %>
			<a href="/new">Add new fact</a>
		</header>

		<main>
			<ul>
				<% randomFacts.forEach((fact) => { %>
				<li>
					<div class="card-background">
						<img src="<%= fact.image %>" alt="Background image" />
					</div>
					<div class="card-content">
						<p><%= fact.text %></p>
						<div>
							<div>
								<small><%= fact.user %></small>
								<small
									><time datetime="<%= fact.added %>"
										><%= fact.added %></time
									></small
								>
							</div>
							<button
								type="button"
								onclick="window.location.href='<%= fact.id %>'"
							>
								Open
							</button>
						</div>
					</div>
				</li>
				<%})%>
			</ul>
		</main>
	</body>
</html>
