<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="../style.css" /> -->
		<title><%= title %></title>
	</head>
	<body>
		<%- include("components/heading", {title: title}) %>
		<ul>
			<% randomFacts.forEach((fact) => { %>
			<li>
				<p><%= fact.text %></p>
				<div><span>Added by:</span> <small><%= fact.user %></small></div>
				<div>
					<span>Date Created:</span>
					<small
						><time datetime="<%= fact.added %>"><%= fact.added %></time></small
					>
				</div>
				<button type="button" onclick="window.location.href='<%= fact.id %>'">
					Open
				</button>
			</li>
			<%})%>
		</ul>
		<a href="/new">Add new fact</a>
	</body>
</html>
